<div class="mt-4">
    <div>
        <a href="/me/stored/courses"> danh sách khoá học </a>
        <h3 class="mt-4">Khóa học đã xoá</h3>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id='{{this._id}}'>Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-id="{{this._id}}"
                        data-bs-target="#delete-confirm">xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}

            <tr>
                <td scope="col" colspan="5" class="text-center">
                    Thùng rác trống
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>


{{!-- confirm delete courses --}}
<div class="modal" tabindex="-1" id="delete-confirm">
    <div class="modal-dialog">sss
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá khoá học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>


<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    const exampleModal = document.getElementById('delete-confirm');
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var restoreBtn = $('.btn-restore');

    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseId = button.getAttribute('data-bs-id')
        })
    }
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    btnDeleteCourse.onclick = () => {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleteForm.submit();
    }


    //Restore btn click
    restoreBtn.click(function (e) {
        e.preventDefault();
        courseId = $(this).data('id');
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        restoreForm.submit();
    });
</script>